
<!--
<form action="/users" method="post" accept-charset="UTF-8">
  <label for="user[username]">Username:</label>
  <input type="text" name="user[username]" id="user[username]">
  <label for="user[email]">Email:</label>
  <input type="email" name="user[email]" id="user[email]">
  <label for="user[password]">Password:</label>
  <input type="password" name="user[password]" id="user[password]">
  <input type="submit" value="Submit">
</form>
-->

<%= form_tag '/users', method: :post do %>
  <%= label_tag 'user[username]', 'Username:' %>
  <%= text_field_tag 'user[username]' %>
  <%= label_tag 'user[email]', 'Email:' %>
  <%= text_field_tag 'user[email]' %>
  <%= label_tag 'user[password]', 'Password:' %>
  <%= password_field_tag 'user[password]' %>
  <%= submit_tag 'Submit' %>
<% end %>
